In [1]:
##funtions

len()
print()
sum()
type()
id()
etc

usedefined  functions

def nameoffunction(agr1,agr2,....):
    statement

In [2]:
#create a function to great 
def greet():
    return"welcome to python class"

In [3]:
greet()

'welcome to python class'

In [4]:
#creating with an argument
def greet(name):
    print("Ms",name)
    print("welcome to python class")

In [6]:
#calling
greet("mouni")

Ms mouni
welcome to python class

In [7]:
# to find whether no is even or odd
def evod(num):
    if num%2==0:
        print("even number")
    else:
            print("odd number")

In [8]:
#calling
evod(14)

even number

In [15]:
#write a function to find sum of two values
def Sum(a,b):
    return a+b

In [16]:
Sum(12,15)

27

In [17]:
#write a function multiply three values

In [22]:
def Mul(a,b,c):
    return a*b*c

In [23]:
Mul(1,3,6)

18

#lambda function \anonymmus
#lambda arg1,arg2,......:expressipon

In [25]:
Sum=lambda x,y :x+y

In [27]:
Sum(10,11)

21

In [38]:
#multiply of three values
mul=lambda x,y,z:x*y*z

In [39]:
mul( 10,20,30 )

6000

fillter,map

syntax:filter(function ,iterable)

In [40]:
#function to filter only odd numbers
List=[5,8,9,6,1,2,3,7]
fun=lambda x:x%2!=0

In [42]:
#calling a filter funtion
list(filter(fun,List))

[5, 9, 1, 3, 7]

In [43]:
#write a programe to filter values above 25 from a list
List=[52,24,23,26,78,95,41,21,23,25,12,65,47,48,41,45]
fun=lambda x:x>25

In [44]:
list(filter(fun,List))

[52, 26, 78, 95, 41, 65, 47, 48, 41, 45]

##map()

map(function,iterable)

In [46]:
List=[2,4,5,3]
#i want to add to each value in list
L=[]
for i in List:
    add=i+10
    L.append(add)

In [47]:
L

[12, 14, 15, 13]

In [49]:
List=[2,4,5,3]
#i want to add to each value in list
fun =lambda x:x+10
#calling map function 
list(map(fun,List))

[12, 14, 15, 13]

In [52]:
l1=[2,6,3,4]
l2=[4,2,4,9]
fun=lambda x,y:x*y
list(map(fun,l1,l2))

[8, 12, 12, 36]